:root {
  --main-red: #ab1313;
  --darker-red: #901010;
  --lighter-red: #dda0a0;
  --main-beige: #EBE1C5;
}

/* Form styles */

.form-header {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--main-red);
}

.form-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 0.5rem 2rem 2rem 2rem;
  border-radius: 15px;
  background-color: var(--main-beige);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: var(--main-red) 5px solid;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 10px;
  margin-bottom: 1rem;
  border: 3px solid var(--main-red);
  border-radius: 4px;
  outline: none;
  background-color: white;
}

form input::placeholder {
  color: #4c4c4c;
}

form button {
  padding: 10px;
  background-color: var(--main-red);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

form button:hover {
  background-color: var(--darker-red);
}

/* Error message styles */

.form-error {
  margin-top: 1rem;
  color: var(--main-red);
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  background-color: var(--lighter-red);
  border: 1px solid var(--main-red);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}
